body {
    width: 99%;
    height: 99%;
    font-family: "Candal";
}

#instructions {
    font-size: 1em;
    color: red;
}

#wrapper {
    width: 99%;
    height: 99%;
    margin: auto;
}
#image {
    width: 300px;
    height: 350px;
    margin: auto;
}


.big_font {
    font-size: 15em;
}

#typed_letter {
    text-align: center;
    width: 99%;
    margin: auto;
}

input {
    font-size: 10em;
    max-width: 75%;
    text-align: center;
    font-family: "Candal";
    border: none;
}

.display-none {
    display: none;
}

#answer {
    position: fixed;
    top: 40%;
    left: 41%;
    width: 100%;
    height: 100%;
}

